<!DOCTYPE html>

<head>
    <title>Color Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/ColorGameCSS.css">

</head>
<body>

    <!-- <div class="text-center" id="header">
        <h1>MAP</h1>
    </div> -->

    <h1></h1>

    <div class="container" id="mapContainer">
    <%- include('map.ejs') %>
    </div>

    <div id="overlayContainer">
        <div id="overlay">

        </div>
    </div>

    <script src="/ColorGameJS.js"></script>
</body>
</html>