body{
    overflow: hidden;
}

#us-map{
    /* display: block; */
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
path:hover, circle:hover {
    fill: #73bb6c !important;
    cursor: pointer;
    transition:0.3s
}
#path67 {
    fill: none !important;
    stroke: #7eb679 !important;
    stroke-width: 2px;
    cursor: default;
    
}

path, circle{
    fill:#a6cea3;
    transition:0.3s;
    stroke-width: 0px;
}

circle{

    stroke-width: 1px;
    stroke: #c6e8f3;
} 
.container{
    margin:0 auto;
}

#header{
    background-color: rgba(255, 255, 255, 0.616);
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 40vh;
}

#title{
    padding: 20px;
    color: rgba(48, 41, 41, 0.842);
    background-color: #c7c7c475;
}


#overlayContainer{
    position: absolute;
    left:50%;
    top: 50%;
}

#overlay{   
    position: relative;
    left: -50%;
    top: -40vh;
    background: rgba(238, 219, 255, 0.9);
    width: 600px;
    height: 80vh;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
    display: none;
}


body{
    background: linear-gradient(-45deg, rgb(198,232,243), rgb(198, 243, 230), rgb(177, 238, 208), rgb(130, 188, 243));
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}


#mapContainer{
    margin: 60px auto;
    height: 100vh;
}

#info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff4b;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
}

#exit{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: rgba(0,0,0,0.4);
}
#exit:hover{
    cursor: pointer;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}