body{
    overflow: hidden;
}

#us-map{
    /* display: block; */
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
path:hover, circle:hover {
    fill: #73bb6c !important;
    cursor: pointer;
    transition:0.3s
}
#path67 {
    fill: none !important;
    stroke: #95ee8f !important;
    cursor: default;
}

path, circle{
    fill:#a6cea3;
    transition:0.3s;
    stroke-width: 0px;
    stroke: #000000 !important;
}

.container{
    margin:0 auto;
}

body{
    background-color: #c6e8f3;
}

nav{
    background-color: #e9e9e8;
}

#mapContainer{
    margin: auto;
    width: 60vw;
}