body{
    overflow: hidden;
}

#us-map{
    /* display: block; */
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
path:hover, circle:hover {
    fill: #73bb6c !important;
    cursor: pointer;
    transition:0.3s
}
#path67 {
    fill: none !important;
    stroke: #7eb679 !important;
    stroke-width: 2px;
    cursor: default;
    
}

path, circle{
    fill:#a6cea3;
    transition:0.3s;
    stroke-width: 0px;
 
}

circle{

    stroke-width: 1px;
    stroke: #c6e8f3;
}
.container{
    margin:0 auto;
}

#header{
    background-color: white;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 40vh;
}


#overlayContainer{
    position: absolute;
    left:50%;
    top: 50%;
}

#overlay{
    position: relative;
    left: -50%;
    top: -40vh;
    background: rgba(238, 219, 255, 0.9);
    width: 600px;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
    display: none;
}


body{
    background-color: #c6e8f3;
}

nav{
    background-color: #e9e9e8;
}

#mapContainer{
    margin: auto;
    width: 65vw;
}